In [126]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from pymongo import MongoClient
import re

In [167]:

def load_dataset(directory):
    metadata_path = os.path.join(directory, 'tracks.csv')
    metadata = pd.read_csv(metadata_path)  # Load metadata from CSV
    
    # Keep the unnamed first column and the specified columns
    columns_to_keep = metadata.columns.tolist()[:1] + ['album.10', 'artist.12', 'track.7', 'track.19']
    metadata = metadata[columns_to_keep]
    
    # Rename the unnamed column to "Track ID"
    metadata.rename(columns={metadata.columns[0]: 'Track ID'}, inplace=True)
    
    # Remove empty rows from the "Track ID" column
    metadata.dropna(subset=['Track ID'], inplace=True)
    
    # Pad the Track IDs to 6 digits with leading zeros
    metadata['Track ID'] = metadata['Track ID'].fillna('').astype(str).apply(lambda x: x.zfill(6))
    
    # Rename other columns for clarity
    metadata.rename(columns={'album.10': 'Album', 'artist.12': 'Artist', 'track.7': 'Genre', 'track.19': 'Title'}, inplace=True)
    
    # Drop rows with null values in the specified columns
    metadata.dropna(subset=['Album', 'Artist', 'Genre', 'Title'], inplace=True)
    
    # Apply transformations
    metadata['Album'] = metadata['Album'].apply(lambda x: re.sub(r'[^\w\s]', '', x.lower()))
    metadata['Artist'] = metadata['Artist'].apply(lambda x: re.sub(r'[^\w\s]', '', x.lower()))
    metadata['Genre'] = metadata['Genre'].apply(lambda x: re.sub(r'[^\w\s]', '', x.lower()))
    metadata['Title'] = metadata['Title'].apply(lambda x: re.sub(r'[^\w\s]', '', x.lower()))

    return metadata

In [168]:
# Define the directory where the dataset is located
dataset_directory = '/home/cake/Documents/sample_data'

# Load the dataset and get combined data
combined_data = load_dataset(dataset_directory)

/tmp/ipykernel_6049/2557937372.py:5: DtypeWarning: Columns (0,1,5,6,8,12,18,20,21,22,24,33,34,38,39,44,47,49) have mixed types.Specify dtype option on import or set low_memory=False.
  combined_data = load_dataset(dataset_directory)

In [169]:
combined_data.head(10)

,Track ID,Album,Artist,Genre,Title
2,000002,awol a way of life,awol,hiphop,food
3,000003,awol a way of life,awol,hiphop,electric ave
4,000005,awol a way of life,awol,hiphop,this world
5,000010,constant hitmaker,kurt vile,pop,freeway
11,000134,awol a way of life,awol,hiphop,street music
12,000135,mp3,abominog,rock,fathers day
13,000136,mp3,abominog,rock,peel back the mountain sky
14,000137,live at lace,airway,experimental,side a
15,000138,live at lace,airway,experimental,side b
16,000139,every man for himself,alec k redfearn the eyesores,folk,candyass

In [171]:
#combined_data.to_csv('/home/cake/Documents/cleaned_dataset.csv', index=False)

In [174]:
#df=pd.read_csv("/home/cake/Documents/cleaned_dataset.csv")
#df.head()
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49288 entries, 0 to 49287
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Track ID  49288 non-null  int64
 1   Album     49285 non-null  object
 2   Artist    49272 non-null  object
 3   Genre     49288 non-null  object
 4   Title     49263 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.9+ MB